@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tab-height: 42px;
    --tab-margin-top: 31.25px;
    --tab-width: 120px;
  }

  html,
  body { 
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    @apply bg-brown;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gradient-border {
  background: linear-gradient(var(--gradient-angle),#00dc82,#fff,rgba(54,228,218,.5),rgba(29,224,177,.3));
  /* background-size: 600% 600%; */
  border-radius: 8px;
  height: calc(100% + 2px);
  left: 0;
  margin-left: 1px;
  margin-top: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(-2px,-2px);
  width: calc(100% + 2px);
  z-index: -1;
}

.gratient-rotate-animation {
  animation: gradient-rotate 5s linear 0s infinite reverse;
}

@property
--gradient-angle {
  syntax:"<angle>";
  inherits:false;
  initial-value:1turn;
}
@keyframes gradient-rotate {
  0% {
    --gradient-angle:360deg
  }
  
  to {
    --gradient-angle:0deg
  }
}

.scroll-animation {
  animation: scroll 30s linear infinite;
}

.scroll-animation-reverse {
  animation:scroll 30s linear infinite reverse;
}

@keyframes scroll {
  0% {
    transform:translate(0)
  }
  
  to {
    transform:translate(calc(-200px*7))
  }
}

.slide-track:hover{
  animation-play-state:paused
}

.slide-track:hover.slide {
    animation-play-state:running
}

.slide-track {
  display:flex;
  width:calc(200px*(7*2))
}