@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tab-height: 42px;
    --tab-margin-top: 31.25px;
    --tab-width: 120px;
    --slider-items: 7;
    --slider-item-sets: 2;
    --all-slider-items: calc(var(--slider-items)*var(--slider-item-sets));
    --slider-item-width: 192px;
  }

  html,
  body { 
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    @apply bg-brown;
  }
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }

  .animation-play {
    animation-play-state:running;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@property
--gradient-angle {
  syntax:"<angle>";
  inherits:false;
  initial-value:1turn;
}

.gradient-border {
  background: linear-gradient(var(--gradient-angle),#F2DFCE,#fff,silver,#F2DFCE);
  border-radius: 8px;
  height: 88px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(-1px,-1px);
  width: 88px;
}