name: Unit Tests
on:
  push:
    branches: [main]
jobs:
  unit_tests:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test using Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.12.0"

      - name: Install pnpm
        run: npm install -g pnpm@10.7.1

      - name: Install Dependancies
        run: pnpm install

      - name: Run Jest Unit Tests
        run: pnpm run test:unit
